# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [9]:
# Your code here:
emplo = pd.read_csv("shorter_name.csv")

Examine the `salaries` dataset using the `head` function below.

In [10]:
# Your code here:
emplo.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [11]:
# Your code here:
nulls = emplo.isnull().sum()
nulls

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [24]:
# Your code here:
pre = emplo[["Salary or Hourly"]]
pre["count"]=1
prex = pre.groupby(['Salary or Hourly'], as_index=False).agg({'count':'sum'})
prex.head()

/home/jan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Salary or Hourly  count
0           Hourly   8022
1           Salary  25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
# Your code here:
departs = emplo.groupby(['Department'], as_index=False).agg({'Name':'count'})
departs

               Department   Name
0            ADMIN HEARNG     39
1           ANIMAL CONTRL     81
2                AVIATION   1629
3       BOARD OF ELECTION    107
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     46
6               BUILDINGS    269
7        BUSINESS AFFAIRS    171
8              CITY CLERK     84
9            CITY COUNCIL    411
10  COMMUNITY DEVELOPMENT    207
11                   COPA    116
12       CULTURAL AFFAIRS     65
13           DISABILITIES     28
14                   DoIT     99
15       FAMILY & SUPPORT    615
16                FINANCE    560
17                   FIRE   4641
18       GENERAL SERVICES    980
19                 HEALTH    488
20        HUMAN RELATIONS     16
21        HUMAN RESOURCES     79
22          INSPECTOR GEN     87
23                    LAW    407
24      LICENSE APPL COMM      1
25         MAYOR'S OFFICE     85
26                   OEMC   2102
27                 POLICE  13414
28           POLICE BOARD      2
29            PROCUREMENT     92
30         PUBLIC LIBRARY   1015
31          STREETS & SAN   2198
32             TRANSPORTN   1140
33              TREASURER     22
34            WATER MGMNT   1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
# Your code here:
#hourly = emplo.loc[emplo['Salary or Hourly'].str.startswith('Hour')]
hourly = emplo[('Hourly'==(emplo['Salary or Hourly']))]
hourly.head(3)

/home/jan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60

In [34]:
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind

ttest_1samp(hourly["Hourly Rate"], 30)
# statistic : difference is around 20

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [61]:
# Your code here:
Salary = emplo[('Salary'==(emplo['Salary or Hourly']))]
Police = Salary[('POLICE'==emplo['Department'])]
Police.head(3)

/home/jan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/jan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [38]:
ttest_1samp(Police["Annual Salary"], 86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [40]:
# Your code here:
salhour = pd.crosstab(emplo["Department"], emplo["Salary or Hourly"]).sort_values(by = "Hourly", ascending=False)
salhour.head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [46]:
# Your code here:
streetsbro = hourly[('STREETS & SAN'==hourly['Department'])]
streetsbro.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60

In [44]:
ttest_1samp(hourly["Hourly Rate"], 35)

Ttest_1sampResult(statistic=-16.352363851001144, pvalue=3.7636889298508017e-59)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [58]:
# Your code here:

dof=len(hourly["Hourly Rate"])-1
mean=hourly["Hourly Rate"].mean()
std=hourly["Hourly Rate"].std()
ste=stats.sem(hourly["Hourly Rate"])
thing = stats.t.interval(0.95, dof, mean, ste)
thing

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [63]:
# Your code here:
dof=len(Police["Annual Salary"])-1
mean=Police["Annual Salary"].mean()
std=Police["Annual Salary"].std()
ste=stats.sem(Police["Annual Salary"])
stats.t.interval(0.95, dof, mean, ste)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: